/* Toolbar */
.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 12px;
  
}

.logo {
  color: #6070ff;
  font-family: Poppins, sans-serif;
  font-size: 18px;
  line-height: 20px;
}

.hamburger {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
}

.line {
  border: 2px solid #6070FF;
}

.nav-bar {
  display: none;
}
/* Headline */
.headline {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: static;
  top: 100px;
  padding-top: 100px;
  background-image: url(./images/header-shapes.png);
  background-repeat: no-repeat;
  background-size: 100vw;
  /*width: 390px;
  max-width: 768px;*/
  padding-bottom: 100px;
}

.greeting {
  width: 327px;
  height: 150px;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  padding-left: 12px;
  position: static;
  bottom: 80px;
}

.bio {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  padding-left: 12px;
  width: 300px;
}

.connect {
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #7f8cff;
  padding-left: 12px;
}

.social {
  display: flex;
  justify-content: space-around;
  width: 250px;
  list-style: none;
  padding-left: 11px;
}

.social-icon {
  width: 20px;
  height: 20px;
}

/* Works */
.works {
  display: grid;
  grid-row-gap: 100px;
  padding: 50px 24px 12px 12px;
  width: 390px;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  padding: 12px 10px 20px 12px;
}

.project-screenshot {
  width: 295px;
  height: 220px;
  padding: 50px;
}

.project-name {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 44px;
  color: #172b4d;
}

.experience {
  display: grid;
  grid-template-columns: 80px 130px 60px;
  align-items: center;
  list-style: none;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  padding-left: 1px;
}

.position-year {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 30px;
  color: #7a869a;
}

.position-year::before {
  width: 30px;
  height: 300em;
  padding-right: 20px;
  font-weight: 700;
  color: #c1c7d0;
  text-align: right;
  content: "\2022";
}

.description {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.language {
  display: grid;
  grid-template-columns: 40px 40px 80px;
  justify-content: space-between;
  list-style: none;
  padding-left: 0%;
  width: 180px;
}

.language-a {
  border-radius: 8px;
  padding: 5px;
  background: #ebebff;
  color: #6070ff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.see-project {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 124px;
  height: 48px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  justify-self: center;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
}

.see-project:hover {
  box-shadow: 1px 8px 16px rgba(64, 83, 252, 0.24);
  background: #6070ff;
  color: white;
}

/* About Myself */
.about-myself {
  display: grid;
  grid-column-gap: 10px;
  border-radius: 0% 20% 0% 0%;
  width: 320px;
  padding: 16px;
  background: #fff;
}

.about-myself-a {
  font-family: Poppins, sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 52px;
  color: #172b4d;
  padding-bottom: 1px;
}

.info {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.contact {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.contact-icons {
  display: flex;
  justify-content: space-around;
  width: 250px;
  list-style: none;
  padding: 1px;
}

.get-my-resume {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 162px;
  height: 48px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
}

.get-my-resume:hover {
  box-shadow: px 8px 16px rgba(64, 83, 252, 0.24);
  background: #6070ff;
  color: white;
}

.languages {
  display: grid;
  align-items: left;
  list-style: none;
  padding: 1px;
}

.contact-me {
  display: flex;
  justify-content: center;
  width: 375px;
  height: 779px;
  left: 1px;
  top: 5410px;
  padding-top: 40px;
  background: #6070ff;
  border-top-left-radius: 90px;
}

.contact-me-b {
  background-image: url(./images/contact-form-shapes-mobile.png);
  background-repeat: no-repeat;
  background-position: top right;
  padding-top: 60px;
}

.footer-head {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
}

.footer-par {
  width: 300px;
  height: 102px;
  left: 24px;
  top: 4802px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
}

.text-boxes {
  display: grid;
  grid-row: inherit;
  justify-content: space-between;
  list-style: none;
  padding-left: 0%;
  width: 180px;
  padding-top: 60px;
  height: 300px;
}

.text-boxes-a {
  width: 280px;
  height: 40px;
  border: 1px solid #cfd8dc;
}

.text-boxes-b {
  width: 280px;
  height: 150px;
  border: 1px solid #cfd8dc;
}

.g-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 130px;
  height: 48px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  justify-self: center;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
}

@media only screen and (min-width: 768px){

  /* Toolbar */
  .hamburger {
    display: none;
  }

  .nav-bar {
    display: inline;
    width: 259px;
    padding-right: 142px;

  }
  .nav-bar-a {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding-left: 50px;
  }

  /* Headline */
  .headline {
    background-image: url(./images/Headerbg.png);
    background-repeat: space;
  }

  .greeting {
    width: 600px;
    height: 122px;
    font-size: 60px;
    line-height: 60px;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .bio {
    width: 920px;
    height: 98px;
    font-size: 20px;
    line-height: 28px;
  }

  .project { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1156px;
    height: 496px;
  }

  .project-b {
    display: flex;
    flex-direction: row-reverse;
    width: 1156px;
    height: 496px;
  }

  .project-screenshot {
    width: 544px;
    height: 448px;
  }
}
